/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2019-02-26 11:58:40 */


html, body { 
font-color:#804f80;}
.page-wrapper {
text-color:#2b252b;}
.page-main .filterproduct-title .content {
bg-color:#3b233b;}
@media (min-width: 768px){
    .page-header.type1 .navigation > ul, .page-header.type2 .nav-sections, .page-header.type8 .menu-wrapper,.page-header.type8.header-newskin .menu-wrapper, .page-header .drop-menu .nav-sections, .page-header.type11 .nav-sections, .page-header.type16 .navigation > ul, header.page-header.sticky-header.type16 .nav-sections, .page-header.type2.header-newskin .nav-sections, .page-header.type18 .nav-sections, .page-header.header-newskin:not(.type16) .nav-sections {
custom-css:#fffff ;}


