<?xml version="1.0"?>
<!--
/**
 * @category    ClassyLlama
 * @copyright   Copyright (c) 2017 Classy Llama
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DCKAP_DefaultBillingAddress" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
